credentials:
- credential_type:
    kind: scm
    name: Source Control
    type: credential_type
  description: '{{ AWX_GITHUB_USERNAME }} PAT'
  inputs:
    ssh_key_data: |- 
      {{ AWX_SSH_KEY_PRIV_BASE64 }}
    username: '{{ AWX_GITHUB_USERNAME }}'
  name: GitHub
  natural_key:
    credential_type:
      kind: scm
      name: Source Control
      type: credential_type
    name: GitHub
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: ssh
    name: Machine
    type: credential_type
  description: SSH Root Key for Monarch Run Servers
  inputs:
    become_method: ''
    become_username: ''
    ssh_key_data: |- 
      {{ KUBESPRAY_ED25519 }}
    username: root
  name: Monarch Run SSH
  natural_key:
    credential_type:
      kind: ssh
      name: Machine
      type: credential_type
    name: Monarch Run SSH
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: registry
    name: Container Registry
    type: credential_type
  description: Credential Used by Execution Environments to Pull Execution Environment
    Images
  inputs:
    host: docker.artifactory.homedepot.com
    password: '{{ ARTIFACTORY_PASSWORD }}'
    username: svc_thdks_art_llc
    verify_ssl: false
  name: Artifactory-EE-Credential
  natural_key:
    credential_type:
      kind: registry
      name: Container Registry
      type: credential_type
    name: Artifactory-EE-Credential
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: admin
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: Gets All Artifactory Creds from Vault-Dev
  inputs:
    token: ''
  name: Artifactory Credentials Dev Vault
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: Artifactory Credentials Dev Vault
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: Gets All Artifactory Creds from Vault-NP
  inputs:
    token: ''
  name: Artifactory Credentials LLC
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: Artifactory Credentials LLC
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: artifactory service account, kuber-deploy, and kuber secret key
  inputs:
    token: ''
  name: artifactory-kuber-deploy
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: artifactory-kuber-deploy
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: artifactory service account, kuber-deploy, and kuber secret key
  inputs:
    token: ''
  name: artifactory-kuber-deploy-np
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: artifactory-kuber-deploy-np
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: rml1qv
- credential_type:
    kind: cloud
    name: Artifactory Token
    type: credential_type
  description: 1 year token for docker
  inputs:
    token: ''
  name: Artifactory Token - Docker
  natural_key:
    credential_type:
      kind: cloud
      name: Artifactory Token
      type: credential_type
    name: Artifactory Token - Docker
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Artifactory Token
    type: credential_type
  description: 1 year token for docker static
  inputs:
    token: ''
  name: Artifactory Token - Docker Static
  natural_key:
    credential_type:
      kind: cloud
      name: Artifactory Token
      type: credential_type
    name: Artifactory Token - Docker Static
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Artifactory Token
    type: credential_type
  description: 1 year token for artifactory uxbinaries
  inputs:
    token: ''
  name: Artifactory Token - uxbinaries
  natural_key:
    credential_type:
      kind: cloud
      name: Artifactory Token
      type: credential_type
    name: Artifactory Token - uxbinaries
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: ssh
    name: Machine
    type: credential_type
  description: ''
  inputs:
    username: admin
  name: Demo Credential
  natural_key:
    credential_type:
      kind: ssh
      name: Machine
      type: credential_type
    name: Demo Credential
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: admin
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: Token to read the credentials for the ESX playbooks to access vCenter
  inputs:
    token: ''
  name: ESX Access
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: ESX Access
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: rss5mpk
- credential_type:
    kind: cloud
    name: CyberArk Account
    type: credential_type
  description: IaaS Cyberark Account Info
  inputs:
    cyberark_account: K8SStaging
    cyberark_passwd_qa: ''
  name: IaaS_Cyberark_Accounts
  natural_key:
    credential_type:
      kind: cloud
      name: CyberArk Account
      type: credential_type
    name: IaaS_Cyberark_Accounts
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: sxp5w8v
- credential_type:
    kind: cloud
    name: Kuber Token
    type: credential_type
  description: ''
  inputs:
    token: ''
  name: Kuber_DEV
  natural_key:
    credential_type:
      kind: cloud
      name: Kuber Token
      type: credential_type
    name: Kuber_DEV
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: ''
  inputs:
    token: ''
  name: kuber-dev-vault-qa-np-token
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: kuber-dev-vault-qa-np-token
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: jew1f2s
- credential_type:
    kind: cloud
    name: Kuber Token
    type: credential_type
  description: ''
  inputs:
    token: ''
  name: Kuber Health Dev
  natural_key:
    credential_type:
      kind: cloud
      name: Kuber Token
      type: credential_type
    name: Kuber Health Dev
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: rss5mpk
- credential_type:
    kind: cloud
    name: Kuber Token
    type: credential_type
  description: ''
  inputs:
    token: ''
  name: Kuber - NP
  natural_key:
    credential_type:
      kind: cloud
      name: Kuber Token
      type: credential_type
    name: Kuber - NP
    organization: null
    type: credential
  organization: null
  user:
    type: user
    username: rss5mpk
- credential_type:
    kind: ssh
    name: Machine
    type: credential_type
  description: ''
  inputs:
    become_method: ''
    become_username: ''
    ssh_key_data: ''
    username: root
  name: Kubespray
  natural_key:
    credential_type:
      kind: ssh
      name: Machine
      type: credential_type
    name: Kubespray
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: ''
  inputs:
    token: ''
  name: monarch-build
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: monarch-build
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: Monarch-build-2 Policy in Vault-dev
  inputs:
    token: ''
  name: monarch-build-2
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: monarch-build-2
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
- credential_type:
    kind: cloud
    name: Vault Token
    type: credential_type
  description: Monarch Build Policy for NP Vault
  inputs:
    token: ''
  name: monarch-build-np-vault
  natural_key:
    credential_type:
      kind: cloud
      name: Vault Token
      type: credential_type
    name: monarch-build-np-vault
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization

